@import "reset.css";

body {
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
  }

.container {
    width: 100vw;    
  }

.navigation {
  
}

.header_main {
  background-image: url(../img/header/header-bg.png);
  background-size: 100% 100%;
  height: 815px;
}

.main_menu,
.header_section {
  max-width: 1180px;
  margin: 0 auto;
}

.main_menu___logo__menu ul{
  display: flex;
}